<div class="container">
  <div class="MulticatalogList container">
    <h1>Catalogo de tiendas</h1>

    <div *ngIf="channels$ | async" class="MulticatalogList-list">
      <div *ngFor="let tienda of tiendas" class="TiendaBox" (click)="selectChannel(tienda)">
        <img class="TiendaBox-header" src="{{tienda.customFields?.imgPortada?.preview}}" height="150px" alt="imgPortada" />
        <div class="TiendaBox-body">
          <h3 class="TiendaBox-nombre">
            {{tienda.customFields?.nombre}}
          </h3>
          <h4 class="label">
            {{tienda.defaultShippingZone?.name}}
          </h4>
        </div>
    </div>
  </div>
</div>